---
# This is the Front Matter block
---

@import 'variables';
@import 'main';
@import 'post';

html {
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: relative;
  background-color: white;
  width: 100%;
}

.nav {
  text-align: center;
  padding: 0px 20px 0 0px;

  li{
    display: inline-block;

    a {
      color: $navigation-color;
      font-weight: bold;
      text-decoration: none;
      padding: 14px;
      font-size: 14px;
    }
  }
}

.cover {
  height: 350px;
  background-size: cover;
  background-image: url("/images/cover.jpg");

  .information-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);    
  }

  .information {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      small {
          text-transform: uppercase;
          font-size: 18px;
      }

      h1 {
          margin: 15px 0;
          text-transform: uppercase;
          font-size: 2em;
          letter-spacing: 2px;
          font-family: $font-header;
      }

      p {
          font-weight: 300;
          margin: 0;
      }
  }
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

/* Footer */
.contact {
  text-align: center;
  padding: 0;

  li{
    display: inline-block;
    padding: 10px;
  }
}
