---
# This is the Front Matter block
---

@import 'variables';
@import 'main';
@import 'post';

html {
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: relative;
  background-color: white;
  width: 100%;
}

.name {
  color: $header-color;
  position: absolute;
  font-weight: bold;
  left: 20px;
}

/* Sidebar */
.sidebar {
    .sidebar-image {
        height: 100px;
        border-radius: 100%;
        background-image: url("/images/user-picture.jpg");
        background-size: cover;
        width: 100px;
        margin: 15px auto;
        background-position: right;
    }

    .sidebar-links{
      text-align: center;
      padding: 0;

      li{
        display: inline-block;

        a {
          color: $navigation-color;
          font-weight: bold;
          text-decoration: none;
          padding: 14px;
          font-size: 14px;
        }
      }
    }
}

/* Content */

.content {
  max-width: 700px;
  margin: 0 auto;
}

/* Footer */
.contact {
  text-align: center;
  padding: 0;

  li{
    display: inline-block;
    padding: 10px;
  }
}
