/* Cards */
.card .card-image img {
    height: 150px
}

.card.small .card-action {
    padding: 10px 20px;
}

.card .card-image .card-title {
    font-size: 20px;
    padding: 10px 20px;
}

/* User image */
.user-photo {
    border-radius: 100%;
    width: 160px;
}

.parallax-container {
    height: 350px;
}

/* Footer */
footer.page-footer {
    margin-top: 0;
}
