---
# This is the Front Matter block
---

@import 'variables';
@import 'main';
@import 'post';

html {
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: relative;
  background-color: white;
  width: 100%;
}

.name {
  color: $header-color;
  position: absolute;
  font-weight: bold;
  left: 20px;
}

.nav {
  text-align: right;
  right: 100px;
  padding: 0px 20px 0 0px;

  li{
    display: inline-block;

    a {
      color: $navigation-color;
      font-weight: bold;
      text-decoration: none;
      padding: 14px;
      font-size: 14px;
    }
  }
}

.cover {
  height: 350px;
  background-image: url("/images/cover.jpg");
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

/* Footer */
.contact {
  text-align: center;
  padding: 0;

  li{
    display: inline-block;
    padding: 10px;
  }
}
