// Cards
.card .card-image img {
    height: 150px
}

.card.small .card-action {
    padding: 10px 20px;
}

.card .card-image .card-title {
    font-size: 20px;
    padding: 10px 20px;
}
//Cover image
.parallax img {
    width: 100%;
}
