.post {
  padding: 2em 0;
  .post-header {
    margin-bottom: 1em;

    h1 {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 0;
      color: $header-color;
    }

    small {
      color: $subheader-color;
      font-size: 0.8em;
    }
  }
  .post-content {
      h1 {
        font-size: 1.6em;
        color: $header-color;
      }
      h2 {
        font-size: 1.4em;
        color: $header-color;
      }
      a {
        color: $link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
  }
  p {
    font-size: 1em;
    line-height: 1.7em;
    color: $content-color;
  }
}
