.post {
  padding: 60px 0 30px;

  .post-header {
    margin-bottom: 1em;

    h1 {
      font-size: 1.7em;
      margin-top: 0;
      margin-bottom: 0;
      color: $header-color;
    }

    small {
      color: $subheader-color;
      font-size: 0.8em;
    }
  }

  .post-content {
      font-size: 1em;
      line-height: 1.7em;
      color: $content-color;

      h1 {
        font-size: 1.4em;
        color: $header-color;
      }
      h2 {
        font-size: 1.2em;
        color: $header-color;
      }
      a {
        color: $link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
  }
}
