.post {
  padding: 2em 0;
  .post-header {
    margin-bottom: 1em;

    h1 {
      font-size: 1.7em;
      margin-top: 0;
      margin-bottom: 0;
      color: $header-color;
    }

    small {
      color: $subheader-color;
      font-size: 0.8em;
    }
  }
  p {
    font-size: 1em;
    line-height: 1.5em;
    color: $content-color;
  }
}
