/* Fonts */
$font-header: 'Oswald', sans-serif !important;
$font-stack: 'Lato', sans-serif;

/* Colors */
$header-color: #444;
$content-color: #3d3d3d;
$subheader-color: #444;
$link-color: #6D9AFA;
$link-color-header: #90ccef;
$navigation-color: rgba(0,0,0,0.6);
$languages-color: rgba(0,0,0,0.4);

/* Responsive sizes */
$md: 750px;
$sidebar-size: 350px;
