<!DOCTYPE html>
    {% include head.html %}
    <!-- Always shows a header, even in smaller screens. -->
    <body>
        {% include header.html %}
        <div class="parallax-container">
            <div class="container white-text">
                <br><br>
                <h1 class="header center">{{ site.name }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">{{ site.description }}</h5>
                </div>
                <br><br>
            </div>
            <div class="parallax"><img src="{{ site.baseurl | prepend: site.url }}/images/cover.jpg"></div>
        </div>
        <main>
            {{ content }}
            {% include footer.html %}
        </main>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ site.baseurl | prepend: site.url }}/js/materialize.min.js"></script>
        <script src="{{ site.baseurl | prepend: site.url }}/js/site.js"></script>
    </body>
</html>
