<!DOCTYPE html>
    {% include head.html %}
    {% include header.html %}
    <body>
        <div class="cover">
            <div class="information-container">
                <div class="information">
                    <small>Software Engineer</small>
                    <h1>Sebastian Ramirez</h1>
                    <p>Web Developer, currently pursuing a MSc. @ Wake Forest University</p>
                </div>
            </div>
        </div>
        {{ content }}
        <script src="{{ site.baseurl | prepend: site.url }}/js/site.js"></script>
    </body>
    {% include footer.html %}
</html>
